body > .left-container {
    width: 30%;
    height: 100%;
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
padding: 1.5rem 1rem;
}

.left-container > header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

header > .container-img-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img-profile > .img-profile {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

header > .container-name-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: aliceblue;
}

.container-name-profile > .name-profile {
font-size: 1.5rem;
border-bottom: #fff solid 2px;
padding-bottom: 0.3rem;
}

header > .navbar-profile {
    width: 100%;
}

.navbar-profile > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.2rem;
    padding: 0;
}

.navbar-profile > ul > li {
    list-style: none;
}

.navbar-profile > ul > li > a {
    color: aliceblue;
    text-decoration: none;
    text-shadow: -2px -2px 4px var(--second-color);
    transition: all 0.3s ease;
}

.navbar-profile > ul > li > a:hover {
    text-shadow: 2px 2px 4px var(--terciary-color);
    border-bottom: solid 2px #f6eaea;
}

header > .container-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.container-logo > img {
    width: 8rem;
    height: 3.6rem;
    object-fit: contain;
}

.left-container > footer {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-social-networks > ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
}

.navbar-social-networks > ul > li {
    list-style: none;
}

.navbar-social-networks .bx {
    font-size: 2rem;
    color: var(--icon-color);
    border-radius: 50%;
    background-color: rgb(228, 226, 226);
    transition: all 0.3s ease;
}

.navbar-social-networks .bx:hover {
    background: none;
    box-shadow: 0 0 10px var(--terciary-color);
}